@font-face {
    font-family: 'Lato';
    src: url('Lato-Regular.eot');
    src: url('Lato-Regular.eot?#iefix') format('embedded-opentype'),
         url('Lato-Regular.svg#Lato-Regular') format('svg'),
         url('Lato-Regular.ttf') format('truetype'),
         url('Lato-Regular.woff') format('woff'),
         url('Lato-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('Lato-Bold.eot');
    src: url('Lato-Bold.eot?#iefix') format('embedded-opentype'),
         url('Lato-Bold.svg#Lato-Bold') format('svg'),
         url('Lato-Bold.ttf') format('truetype'),
         url('Lato-Bold.woff') format('woff'),
         url('Lato-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('Lato-SemiBold.eot');
    src: url('Lato-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('Lato-SemiBold.svg#Lato-SemiBold') format('svg'),
         url('Lato-SemiBold.ttf') format('truetype'),
         url('Lato-SemiBold.woff') format('woff'),
         url('Lato-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
  
  
  
  
  
  