@import '_variable.scss';
@import '_null.scss';
@import '_header.scss';
@import '_fonts.scss';
@import '_cloudbudget.scss';
@import '_management.scss';
@import '_features.scss';
@import '_technology.scss';


body {
	font-family: 'Lato';
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0px 20px;
}

.title {
    font-weight: 600;
    font-size: 36px;

}

.subtitle {
    line-height: 1.4;
}

.link {
    color: $red;
    line-height: 1.4;
}