@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.header {
  position: relative;
  z-index: 5;
}

.menu__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.menu__burger-item li + li {
  padding: 0px 20px 0px 0px;
}

.menu__burger-item a {
  font-size: 14px;
  padding: 0px 10px;
  color: white;
  text-transform: uppercase;
}

.nav {
  padding-top: 20px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hamb {
  display: none;
}

.popup {
  display: none;
}

@media (max-width: 1023px) {
  .menu__burger-item a {
    font-size: 14px;
    color: #fff;
    padding: 0px 10px;
    border-bottom: none;
  }
  .menu__burger-item:hover {
    padding: 0px;
    border-bottom: none;
  }

  .nav .menu__burger {
    display: none;
  }

  .hamb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .hamb__field {
    padding: 10px 20px;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #fff;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }

  .popup {
    position: fixed;
    top: 105px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .popup .menu__burger {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 50px 0;
    overflow: auto;
  }
  .popup .menu__burger > li {
    width: 100%;
  }
  .popup .menu__burger > li > a {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #3f3f3f;
  }
  .popup .menu__burger > li > a :hover {
    background-color: rgba(122, 82, 179, 0.1);
  }

  .popup.open {
    left: 0;
  }

  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamb__field.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }

  .hamb__field.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }

  body.noscroll {
    overflow: hidden;
  }
}
.header__logo {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo:before {
  content: url("../img/icon/cloud.svg");
  width: 29px;
  height: 29px;
  position: relative;
  top: -3px;
  left: -10px;
}

@media (max-width: 1023px) {
  .header__logo {
    display: none;
  }
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__right .header__lang-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}
.header__right .header__lang-link:before {
  content: url("../img/icon/america.svg");
  width: 32px;
  height: 32px;
  position: relative;
  top: 0;
  left: -15px;
}
.header__right .header__lang-link:after {
  content: url("../img/icon/down.svg");
  width: 18px;
  height: 18px;
  position: relative;
  top: 0;
  left: 15px;
}
@media (max-width: 329px) {
  .header__right .header__lang {
    display: none;
  }
  .header__right .header__btn {
    padding: 6px 20px;
    margin-left: 20px;
  }
}
.header__right .header__btn {
  border: 1px solid white;
  border-radius: 6px;
  padding: 10px 30px;
  margin-left: 35px;
  color: white;
}

@font-face {
  font-family: "Lato";
  src: url("Lato-Regular.eot");
  src: url("Lato-Regular.eot?#iefix") format("embedded-opentype"), url("Lato-Regular.svg#Lato-Regular") format("svg"), url("Lato-Regular.ttf") format("truetype"), url("Lato-Regular.woff") format("woff"), url("Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("Lato-Bold.eot");
  src: url("Lato-Bold.eot?#iefix") format("embedded-opentype"), url("Lato-Bold.svg#Lato-Bold") format("svg"), url("Lato-Bold.ttf") format("truetype"), url("Lato-Bold.woff") format("woff"), url("Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("Lato-SemiBold.eot");
  src: url("Lato-SemiBold.eot?#iefix") format("embedded-opentype"), url("Lato-SemiBold.svg#Lato-SemiBold") format("svg"), url("Lato-SemiBold.ttf") format("truetype"), url("Lato-SemiBold.woff") format("woff"), url("Lato-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
.cloudbudget {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, color-stop(35%, rgba(213, 32, 71, 0.8)), to(rgba(238, 61, 27, 0.8))), url(../img/notebook.jpg) no-repeat;
  background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 35%, rgba(238, 61, 27, 0.8) 100%), url(../img/notebook.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 782px;
  top: -100px;
  padding: 100px 0px 0px 0px;
  text-align: center;
  color: white;
}

.cloudbudget__title {
  margin-top: 150px;
  font-size: 72px;
  font-weight: 700;
  letter-spacing: 5%;
}

.cloudbudget__subtitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  width: 540px;
  margin: 0 auto;
  padding: 40px 0px 60px 0px;
}

.cloudbudget__btn {
  background: white;
  border-radius: 6px;
  padding: 15px 50px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ED4C5C;
}

@media (max-width: 1024px) {
  .cloudbudget {
    height: 582px;
  }

  .cloudbudget__title {
    margin-top: 75px;
    font-size: 64px;
  }

  .cloudbudget__subtitle {
    padding: 35px 0px 50px 0px;
    font-size: 16px;
    width: 350px;
  }

  .cloudbudget__btn {
    font-size: 12px;
    padding: 12px 35px;
  }
}
@media (max-width: 580px) {
  .cloudbudget__title {
    font-size: 48px;
  }

  .cloudbudget__subtitle {
    font-size: 14px;
    max-width: 200px;
  }

  .cloudbudget__btn {
    font-size: 8px;
    padding: 8px 25px;
  }
}
@media (max-width: 380px) {
  .cloudbudget__title {
    margin-top: 55px;
  }

  .cloudbudget {
    height: 482px;
  }
}
.management__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0px 50px 0px;
}

.management__title {
  max-width: 445px;
  font-size: 100px;
}

.management__subtitle {
  margin-top: 50px;
  margin-bottom: 25px;
  max-width: 420px;
}

.management__video {
  margin-left: 125px;
  max-width: 445px;
  width: 100%;
  border-radius: 15px;
  padding: 25px 0px 0px;
  position: relative;
}

.video {
  max-width: 445px;
  border-radius: 15px;
}

.controls {
  position: absolute;
  top: 43%;
  left: -7%;
  background-color: #ED4C5C;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  cursor: pointer;
}

.controls__play {
  position: absolute;
  left: 30%;
  top: 28%;
}
.controls__play img {
  width: 30px;
  height: 30px;
}

@media (max-width: 1023px) {
  .management {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .management__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .management__video {
    margin-left: 20px;
  }
}
@media (max-width: 580px) {
  .management {
    margin-top: -50px;
  }

  .management__video {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
  }

  .video {
    max-width: 300px;
    border-radius: 15px;
  }

  .controls {
    position: absolute;
    top: 42%;
    left: -10%;
    background-color: #ED4C5C;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    cursor: pointer;
  }
}
@media (max-width: 380px) {
  .management__video {
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
  }

  .controls__play {
    left: 18%;
    top: 17%;
  }

  .video {
    max-width: 250px;
    border-radius: 15px;
  }

  .controls {
    position: absolute;
    top: 45%;
    left: -10%;
    background-color: #ED4C5C;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;
  }

  .management__title.title {
    font-size: 28px;
  }
}
.features {
  background-color: #fafafa;
  margin: 50px 0px 0px;
  color: #101010;
}

.features__title {
  padding: 63px 0px;
  text-align: center;
}

.features__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features__card {
  text-align: center;
}

.features__item-img {
  max-width: 350px;
  max-height: 250px;
  border-radius: 8px;
}
.features__item-img img {
  width: 100%;
  height: 100%;
}

.features__item {
  background-color: #fff;
  position: relative;
  top: -90px;
  margin: 0 auto;
  width: 300px;
  height: 200px;
  -webkit-box-shadow: 0 0 50px 5px #1010103e;
          box-shadow: 0 0 50px 5px #1010103e;
  border-radius: 8px;
}

.features__item-title {
  font-weight: 700;
  font-size: 18px;
  padding: 35px 35px 20px;
}

.features__item-subtitle {
  font-size: 12px;
  line-height: 150%;
  max-width: 230px;
  margin: 0 auto;
  padding-bottom: 35px;
}

.features__item-link {
  font-weight: 700;
  font-size: 12px;
  color: #ED4C5C;
}

@media (max-width: 1135px) {
  .features__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 475px) {
  .features__item-img {
    max-width: 300px;
    max-height: 220px;
  }

  .features__item {
    width: 250px;
    height: 200px;
  }

  .features__title {
    padding: 20px 0px 40px;
  }
}
.technology {
  color: #101010;
}

.technology__title {
  padding: 60px 0px 50px 0px;
  text-align: center;
}

.technology__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.technology__item {
  position: relative;
  margin: 50px 0px 0px;
  text-align: center;
}
.technology__item span {
  position: absolute;
  left: 25%;
  top: -40%;
  font-weight: 700;
  font-size: 100px;
  color: rgba(16, 16, 16, 0.08);
}
.technology__item img {
  width: 80px;
  height: 80px;
}

.technology__item-title {
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 15px;
}

.technology__item-subtitle {
  max-width: 190px;
  margin: 0 auto;
  font-size: 12px;
}

@media (max-width: 799px) {
  .technology__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .technology__item {
    margin: 70px 0px 0px;
  }
}
.focus {
  background-color: #ED4C5C;
  margin-top: 115px;
  color: #fff;
}

.focus__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.focus__text {
  padding-top: 125px;
}

.focus__title {
  max-width: 365px;
}

.focus__subtitle {
  padding-top: 45px;
  max-width: 445px;
  font-size: 14px;
  line-height: 140%;
}

.focus__icon-os {
  padding-top: 40px;
  padding-bottom: 110px;
}

.focus__slider {
  padding: 95px 0px 95px 80px;
}

@media (max-width: 1023px) {
  .focus__body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 10px;
  }

  .focus__icon-os {
    padding-bottom: 10px;
  }

  .focus__slider {
    padding: 50px 0px;
  }
}
@media (max-width: 580px) {
  .focus__slider img {
    width: 300px;
  }
}
.contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 120px;
  padding-bottom: 80px;
}

.contact__text {
  padding: 0px 115px 0px 0px;
}

.contact__title {
  padding-bottom: 70px;
}

.contact__subtitle {
  padding-bottom: 20px;
}

.contact__form input {
  border: 1px solid #333;
  display: block;
  height: 60px;
  width: 100%;
  border-radius: 6px;
  padding: 30px 0px 30px 20px;
}

.input__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.input__name input {
  width: 255px;
}

.input input {
  margin: 20px 0px;
}

.name {
  margin-right: 30px;
}

.button {
  display: block;
  width: 160px;
  height: 50px;
  border-radius: 6px;
  background-color: #ED4C5C;
  color: #fff;
  text-transform: uppercase;
}

@media (max-width: 1023px) {
  .contact__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 475px) {
  .input__name {
    display: block;
  }
  .input__name input {
    width: 100%;
    margin-bottom: 20px;
  }
}
.footer {
  background-color: #fafafa;
  color: #101010;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topinfo__title {
  font-size: 18px;
  font-weight: 700;
  padding: 85px 0px 35px;
}

.topinfo__text {
  font-size: 12px;
  line-height: 150%;
}

.topinfo__list {
  font-size: 12px;
  line-height: 160%;
}
.topinfo__list a {
  color: inherit;
}

.topinfo__icons img {
  padding: 20px 12px 0px 0px;
}

.footer__subinfo {
  font-size: 12px;
  padding: 85px 0px;
}

@media (max-width: 730px) {
  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .topinfo__title {
    padding: 55px 0px 15px;
  }
}
body {
  font-family: "Lato";
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0px 20px;
}

.title {
  font-weight: 600;
  font-size: 36px;
}

.subtitle {
  line-height: 1.4;
}

.link {
  color: #ED4C5C;
  line-height: 1.4;
}